.sales {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(to right, #2a0845, #6441a5);
	h1 {
		margin-top: 20px;
		font-size: clamp(1.5rem, 5vw, 2.5rem);
	}
}

.container-img-sales {
	width: 100%;
	height: 370px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 350px;
		height: 100%;
	}
}

.describe {
	text-align: center;
	font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.container-btn-sales {
	display: flex;
	justify-content: center;
	gap: 40px;
	button {
		height: 35px;
		padding: 5px 10px;
		background-color: transparent;
		border: solid 1px $white;
		color: $white;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			background-color: $white;
			color: $black;
		}
	}
}

@media screen and (min-width: 768px) {
	.sales {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1.5fr 1.5fr;
		grid-template-areas:
			'Title Title Title'
			'Img description description'
			'Img button button';
	}
	.title {
		grid-area: Title;
		align-self: center;
	}
	.container-img-sales {
		grid-area: Img;
		display: flex;
		align-self: start;
		height: 80%;
		img {
			width: 50%;
			height: 100%;
		}
	}
	.describe {
		grid-area: description;
		justify-self: start;
		align-self: center;
		text-align: left;
		line-height: 45px;
	}
	.container-btn-sales {
		grid-area: button;
		justify-self: start;
		align-self: start;
		padding: 10px;
	}
}
