@import '../components/addProduct';
.title-item-selected {
	padding: 20px 0;
	font-size: clamp(1.5rem, 5vw, 2rem);
}

.container-img-title-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	max-width: 750px;
	p {
		text-align: left;
		font-size: clamp(0.875rem, 0.805rem + 0.32vw, 1.125rem);
		margin-top: 20px;
	}
}

.img-product-detail {
	width: 100%;
	max-width: 750px;
	height: auto;
	background-color: rgb(243, 229, 248);
	margin-top: 10px;
}

@media screen and (min-width: 768px) {
	.container-item-selected {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		height: calc(100vh - 50px);
		img {
			width: 75%;
		}
	}
	.description-add {
		height: calc(100vh - 50px);
		display: grid;
		grid-template-rows: 2fr 1fr;
		align-items: start;
		.description {
			display: flex;
			align-self: end;
			margin: 0 20px;
		}
	}
}
